@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;200&display=swap');


*{
  
        padding: 0;
        margin: 0;
        box-sizing: border-box;
     
        font-family: 'Poppins', sans-serif;
       
     } 
    



.section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
 .section .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #66d9e8;
    clip-path: circle(50%  at right 10%);
} 
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 150px;

}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    font-size: 21px;
   font-weight: bold;

}
header .navigation li a{
   display: inline-block;
   color: black;
   font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.content .textBox{
    position: relative;
    max-width: 600px;
    margin-right: 20px;  
}
.content .textBox h2{ 
    color: blue;
    font-size: 3rem;
    margin-bottom: 10px;
    line-height: 1.4rem;
    font-weight: 700;

}

.content .textBox h2{
    margin-bottom: 10%;
}
.content .textBox p{
  font-size: 20px;
}


.content .textBox a{

    display: inline-block;
    margin-top: 40px;
    padding: 8px 20px;
    background: blue;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.sci{
     position: absolute;
     bottom: 40px;
     left: 100px;
     display: flex;
     justify-content: center;
     align-items: center;

}
.sci li{
    list-style: none;
   

}
.sci li a{
     display: inline-block;
     margin-left: 15px;
     background:   #66d9e8; 
     width: 50px;
     height: 50px;
    
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     transition: 0.2s ease-in-out;

}
.sci li a:hover{

    background:  #66d9e8;
    transform: translateY(-10px);
    

}
.sci li a .imagee{
   
    filter: invert(1);
    transform: scale(0.5);
     color: white; 
     font-size: 100px;
}







  /* -------------------- */
  .orders{
    /* padding-bottom: 2em; */
    padding: 3em;
  }
  .orders h1 {
    font-family: 'Prata', serif;
    padding-bottom: 2em;
}
 .heading2{
     font-size: 30px;
     text-align: center;
     margin-bottom: 10%;
     font-weight: bolder;
     background:  #66d9e8;
} 
.wrapper {
    display: flex;
    position: relative;
}
.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background:  #66d9e8;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover {
    font-weight: bolder;
}
.wrapper i:first-child {
    left: -12px;
    display: none;
}
.wrapper i:last-child {
    right: -22px;
}
.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img {
    pointer-events: none;
}
.carousel img {
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}
.carousel img:first-child {
    margin-left: 0px;
}

#apple{
    height: 65%;
    width: 30%;
}
#milk{
   
    height: 60%;
    width: 30%;
}
#orange{
    height: 60%;
    width: 30%;
}
#passion{
    height: 69%;
    width: 60%;
  /* padding-left: 20%;
  padding-right: 20%; */
}
#apple-bottle{
    height: 70%;
    width: 40%;
}
#mango{

    height: 70%;
    width: 30%;
}

.products-heading{
    text-align: center;
}
/* #one-little{
    margin-bottom: 5%;
    padding-left: 2rem;
} */
.water{
    display: flex;
    justify-content: space-between;
}
#big-water{

    width: 20%;
    height: 60%;

}
#small-water{
    height: 40%;
}
.water #medium{
   width: 30%;
   height: 50%;
}
#mineral-water{
    text-align: center;
    font-size: 30px;
    color: #66d9e8;
    font-weight: bolder;
}


.milk{
    display: flex;
    justify-content: space-between;
   
 
}

#small-lowfat{
    /* width: 70%; */
    height: 90%;
    width: 20%;
}
#big-milk{
    height: 40%;
    width: 20%;
}
#small-milk{
    height: 40%;
    width: 20%;
}
#big-lowfat{
    height: 25%;
    width: 20%; 
    /* padding-bottom: 20rem; */
}
.juices{
    text-align: center; 
    /* margin-top: 10px; */
    /* padding-bottom: 20px; */
    font-size: 30px;
    color: #66d9e8;
    font-weight: bolder;
    /* padding-bottom: 20%; */
}
.juice{
   display: flex;
   justify-content: space-between;
   
}
.yoghurts{
    display: flex;
   justify-content: space-between;
}
#mango-yoghurt{
    height: 40%;
}
#heading-m{
    text-align: center;
    font-size: 30px;
    color: #66d9e8;
    font-weight: bolder;
}
.yoghurts-heading{
    text-align: center;
    font-size: 30px;
    color: #66d9e8;
    font-weight: bolder;
}

/* Contact section */

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: url(images/apple-juice-removebg-preview.png); */
    background-size: cover;
    background-color: #74c0fc;
  }
  .contact .contentss{
     
    max-width: 800px;
    text-align: center;
  }
  .contact .contentss h2{
      font-size: 36px;
      font-weight: 500;
      color: black;
     
    
  }
  .contact .contentss p{
    
      font-weight: 300;
      color: black;
      
  }
  .container-contact{
     
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

  }
  .container-contact .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
  }
.container-contact .contactInfo .contact-box{
 position: relative;
padding: 20px 0;
display: flex;

}
.container-contact .contactInfo .contact-box .iconsss{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container-contact .contactInfo .contact-box .text{

    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;
}
.container-contact .contactInfo .contact-box .text h3{
    font-weight: 500;
    color: black;
}
.contactForm{

    width: 40%;
    padding: 40px;
    background: #fff;

}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;

}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;

}
.contactForm .inputBox span{
   position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    /* color: #666; */
}
.contactForm .inputBox  input:focus ~ span,
.contactForm .inputBox  input:valid ~ span,
.contactForm .inputBox  textarea:focus ~ span,
.contactForm .inputBox  textarea:valid ~ span{

    color:  black;
    font-size: 12px;
    transform: translateY(-20px);

}
.contactForm .inputBox input[type="submit" ]
{
    width: 100px;
    background: #00bcd4;
    color: black;
    border: none;
   cursor: pointer;
   padding: 10px;
   font-size: 18px;

}
@media ( max-width: 991px) {
    
    .contact{
        padding: 50px;

    }
    .container-contact{
       flex-direction: column;

    }
    .container-contact .contactInfo{
        margin-bottom: 40px;

    }
    .container-contact .contactInfo,
    .contactForm{
        width: 100%;

    }
}







